* {
    margin: 0;
}

body {
    display: flex;
    align-items: space-evenly;
    flex-direction: row;
}

#left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url("./repic_studio-tropical-greens-3809617_1280.jpg");
    background-repeat: initial;
    width: max(35vh, 800px);
    height: 100vh;
}

.sidebar {
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: max(48px, 10vh);
}

.sidebar p {
    font-family: 'Segoe UI Light', 'Open Sans Light', sans-serif;
    font-size: 48px;
    color: #fff;
}

#right-side {
    background-color: #333;
    display: flex;
    flex-direction: column;
    padding: min(5vh, 10vw);
}

#right-side p, label, legend {
    color: #fff
}