@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu+Condensed&display=swap');

* {
    margin: 0;
}

body {
    display: flex;
    align-items: space-evenly;
    flex-direction: row;
    max-height: 100vh;
}

#left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url("./repic_studio-tropical-greens-3809617_1280.jpg");
    background-repeat: repeat;
    width: max(35vh, 800px);
    height: 100vh;
}

.sidebar {
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: max(48px, 10vh);
    height: max(64px, 15vh);
}

.sidebar p {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: min(36px, 12.5vh);
    color: #eee;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 ;
}

#right-side {
    background-color: #333;
    display: flex;
    flex-direction: column;
    padding: min(10vh, 15vw) 0;
    justify-content: center; 
}

#right-side p {
    margin: min(18px, 5vh) 5vw;
}

#right-side p, label, .form-title {
    color: #fff
}

#right-side p, .form-title {
    font-size: 22px;
}

p, .form-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500    ;
}

p {
    text-align: left;
}

.form-title {
    margin-bottom: 2.5vh;
}

form {
    background-color: #555;
    height: 60vh;
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    padding-left: max(2.5vw, 12px);
    padding-top: 5vh;
}

.field-row {
    display: flex;
    flex-direction: row;
    margin: 1vh 0;
}

.field-container {
    display: flex;
    flex-direction: column  ;
}
button {
    margin: 5vh;
}

input {
    background-color: #777;
    border: 1px solid #333;
    border-radius: 5px;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    color: #eee;
    padding: 10px;

}

input::placeholder {
    color: #444;
}

input:valid {
    border-color: aquamarine;
}

input:invalid {
    border-color: firebrick;
}

input:focus {
    border-color: blue;
    box-shadow: 1;
}

label {
    font-family: "Bebas Neue";
    font-size: 20px;
}

.left-footer {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #eee;
    text-align: center;
    padding-bottom: 2.5vh;
}

.left-footer a {
    color: #eee;
}

button {
    font-size: 18px;
    background-color: aquamarine;
    font-weight: 700;
    font-family: "Ubuntu Condensed", sans-serif;
    color: #333;
    padding: 8px;
    border-radius: 5px;
    border-style: none;
    max-width: 20%;

}